.header {
  padding: 16px 0;
}

.filter {
  padding: 16px 0;
}

.list {
  display: flex;
  flex-direction: column;
}

.taskItem {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgb(223, 223, 223);
  padding: 8px 12px;
  align-items: center;
  justify-content: space-between;
}
.row {
  display: flex;
  gap: 8px;
  align-items: center;
}

.badge {
  padding: 2px 6px;
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
}

.operators {
  display: inline-flex;
  gap: 4px;
}

.filterRow {
  display: flex;
  gap: 8px;
  width: 100%;
}

.search {
  width: 50%;
}

.tags {
  width: 25%;
}

.complexity {
  width: 25%;
}
