nav {
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 10px;
}

section {
  padding: 50px;
}

#hero {
  background-color: #f8f9fa;
  text-align: center;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
}

.button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 5px;
}

#about {
  background-color: #f8f9fa;
}

#courses {
  background-color: #fff;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

#practice {
  background-color: #f8f9fa;
  text-align: center;
}

footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px;
}

.pros {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.item {
  width: calc(50% - 12px);
  border: 1px solid rgb(219, 219, 219);
  padding: 16px 24px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 0px 0px 38px 14px rgba(34, 60, 80, 0.2);
    transform: scale(1.005);
  }
}
