.container {
  display: flex;
  width: 100%;
  height: calc(100vh - 70px);
}

.formulation,
.editor {
  width: 50%;
  height: 100%;
  overflow: auto;
}

.formulation {
  padding: 24px 16px;
}

.formulationHeader {
  margin: 0 0 24px;
}

.editor {
  position: relative;
  border-left: solid 1px rgb(234, 234, 234);
}

.editor > section {
  height: calc(100% - 60px);
  padding: 16px 0 60px;
}

.bottomPanel {
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: solid 1px rgb(234, 234, 234);
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 8px;
}

.content {
  margin: 24px 0;
}
