.header {
  padding: 24px 0;
}

.courseCard {
  display: flex;
  border: 1px solid rgb(225, 225, 225);
  transition: box-shadow 0.2s ease-in-out;
  border-radius: 8px;
  padding: 16px 12px;
  text-decoration: none;
  color: rgb(50, 50, 235);
  flex-direction: column;
  gap: 4px;
  &:hover {
    box-shadow: 0 0 20px rgb(220 220 220);
  }
}

.courseCardTopic {
  color: #6d6d6d;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  grid-auto-rows: 100px;
  margin-top: 16px;
}
