.main {
  display: flex;
  height: calc(100vh - 70px);
}

.cnt {
  padding: 32px 24px;
  flex-grow: 1;
}

.lessons {
  display: flex;
  gap: 16px;
  flex-direction: column;
  width: 100%;
}

.lessonCard {
  width: 100%;
  min-height: 100px;
  display: flex;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 16px 12px;
  flex-direction: column;
  transition: box-shadow 0.2s ease-in-out;
  text-decoration: none;
  color: black;
  .title {
    h3 {
      padding: 0;
      margin: 0;
      color: rgb(50, 50, 235);
    }
  }
  &:hover {
    box-shadow: 0 0 20px rgb(220 220 220);
  }
}

.lessonTitle {
  margin: 24px 0 16px;
}
